## pyspark connecting to MySQL

In [1]:
from pyspark.sql import SQLContext, SparkSession
spark = SparkSession.Builder().appName('sql').master('local').getOrCreate()

In [2]:
url = 'jdbc:mysql://127.0.0.1:3306/sparktest?characterEncoding=utf-8&autoReconnect=true&serverTimezone=UTC'
properties = {'user': 'root', 'password': 'root', 'driver': 'com.mysql.cj.jdbc.Driver'}

In [3]:
df = spark.read.jdbc(url=url, table='test', properties=properties) # read data from MySQL

In [4]:
type(df) #spark dataframe

pyspark.sql.dataframe.DataFrame

In [5]:
df.show()

+------+---+------+
|  name|age|height|
+------+---+------+
|  Jonh| 22|  1.80|
|Hughes| 34|  1.96|
|  Mary| 27|  1.56|
+------+---+------+

In [6]:
spark.stop()

In [7]:
import pandas as pd
from pyspark import SparkContext
from pyspark.sql import SQLContext, Row

In [8]:
sc = SparkContext(master='local', appName='sql')
spark = SQLContext(sc)

In [9]:
url = 'jdbc:mysql://127.0.0.1:3306/sparktest?characterEncoding=utf-8&autoReconnect=true&serverTimezone=UTC'
properties = {'user': 'root', 'password': 'root', 'driver': 'com.mysql.cj.jdbc.Driver'}

In [10]:
# 1. create spark dataframe from list
list = [(1, 12), (2, 22),(3, 34)]
list_df = spark.createDataFrame(list, schema=['id', 'value'])

In [11]:
list_df.show()

+---+-----+
| id|value|
+---+-----+
|  1|   12|
|  2|   22|
|  3|   34|
+---+-----+

In [12]:
# 2. create spark dataframe from rdd
rdd = sc.parallelize(list)  # rdd
col_names = Row('id', 'value')  # column names
tmp = rdd.map(lambda x: col_names(*x))  # set column names
rdd_df = spark.createDataFrame(tmp)

In [13]:
rdd_df.show()

+---+-----+
| id|value|
+---+-----+
|  1|   12|
|  2|   22|
|  3|   34|
+---+-----+

In [14]:
# 3.create spark dataframe from pandas dataframe
df = pd.DataFrame({'id': [1, 2, 3], 'value': [12, 22, 34]})
pd_df = spark.createDataFrame(df)

In [15]:
pd_df.show()

+---+-----+
| id|value|
+---+-----+
|  1|   12|
|  2|   22|
|  3|   34|
+---+-----+

In [16]:
pd_df.write.jdbc(url=url, table='mytest', mode='append', properties=properties) # write data into MySQL

In [17]:
spark_df = spark.read.jdbc(url=url, table='mytest', properties=properties) # read data from MySQL

In [18]:
spark_df.show()

+---+-----+
| id|value|
+---+-----+
|  1|   12|
|  2|   22|
|  3|   34|
|  1|   12|
|  2|   22|
|  3|   34|
|  1|   12|
|  2|   22|
|  3|   34|
+---+-----+

In [19]:
sc.stop()