## Exercise 3: Data selection and the .loc method

Let's select some data with the numpy notation and use the .loc method. We will use the the RadNet Laboratory Analysis, from the U.S. Environmental Protection Agency, located [here](https://opendata.socrata.com/api/views/cf4r-dfwe/). This dataset describes the radioactive content collected by the USPA in different cities in the US, for different radionuclides.

In [1]:
import numpy as np
import pandas as pd

In [2]:
url = "https://opendata.socrata.com/api/views/cf4r-dfwe/rows.csv?accessType=DOWNLOAD"

In [ ]:
df = pd.read_csv(url)

In [2]:
df = pd.read_csv("D:\Big Data Science\Big-Data-Analysis-with-Python\Lesson01\RadNet_Laboratory_Analysis.csv")

In [3]:
df.head()

,State,Location,Date Posted,Date Collected,Sample Type,Unit,Ba-140,Co-60,Cs-134,Cs-136,Cs-137,I-131,I-132,I-133,Te-129,Te-129m,Te-132
0,ID,Boise,03/30/2011,03/23/2011,Air Filter,pCi/m3,Non-detect,Non-detect,Non-detect,NaN,Non-detect,0.088,Non-detect,Non-detect,NaN,NaN,Non-detect
1,ID,Boise,03/30/2011,03/23/2011,Air Filter,pCi/m3,Non-detect,Non-detect,Non-detect,NaN,Non-detect,0.055,Non-detect,Non-detect,NaN,NaN,Non-detect
2,AK,Juneau,03/30/2011,03/23/2011,Air Filter,pCi/m3,Non-detect,Non-detect,0.0057,NaN,0.0074,0.067,Non-detect,Non-detect,NaN,NaN,0.0043
3,AK,Nome,03/30/2011,03/22/2011,Air Filter,pCi/m3,Non-detect,Non-detect,Non-detect,NaN,Non-detect,0.096,Non-detect,Non-detect,NaN,NaN,Non-detect
4,AK,Nome,03/30/2011,03/23/2011,Air Filter,pCi/m3,Non-detect,Non-detect,Non-detect,NaN,Non-detect,0.22,Non-detect,Non-detect,NaN,NaN,Non-detect

In [9]:
df[1:3]

,State,Location,Date Posted,Date Collected,Sample Type,Unit,Ba-140,Co-60,Cs-134,Cs-136,Cs-137,I-131,I-132,I-133,Te-129,Te-129m,Te-132
1,ID,Boise,03/30/2011,03/23/2011,Air Filter,pCi/m3,Non-detect,Non-detect,Non-detect,NaN,Non-detect,0.055,Non-detect,Non-detect,NaN,NaN,Non-detect
2,AK,Juneau,03/30/2011,03/23/2011,Air Filter,pCi/m3,Non-detect,Non-detect,0.0057,NaN,0.0074,0.067,Non-detect,Non-detect,NaN,NaN,0.0043

In [6]:
df['State']

0      ID
1      ID
2      AK
3      AK
4      AK
       ..
601    CA
602    CA
603    UT
604    UT
605    NY
Name: State, Length: 606, dtype: object

First, select the column "State":

In [7]:
df['State'].head()

0    ID
1    ID
2    AK
3    AK
4    AK
Name: State, dtype: object

To filter based on the value of the data, use the comparison with filter:

In [8]:
df[df.State == "MN"]

,State,Location,Date Posted,Date Collected,Sample Type,Unit,Ba-140,Co-60,Cs-134,Cs-136,Cs-137,I-131,I-132,I-133,Te-129,Te-129m,Te-132
367,MN,St. Paul,04/08/2011,03/28/2011,Drinking Water,pCi/l,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect
368,MN,St. Paul,04/22/2011,04/13/2011,Drinking Water,pCi/l,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,0.16,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect
380,MN,Welch,04/08/2011,03/29/2011,Drinking Water,pCi/l,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect
381,MN,Welch,06/01/2011,04/14/2011,Drinking Water,pCi/l,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect
555,MN,St. Paul,04/04/2011,03/22/2011,Precipitation,pCi/l,Non-detect,Non-detect,Non-detect,NaN,Non-detect,32.3,Non-detect,Non-detect,NaN,NaN,Non-detect
556,MN,St. Paul,04/10/2011,03/29/2011,Precipitation,pCi/l,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,16,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect
557,MN,Welch,04/04/2011,03/17/2011,Precipitation,pCi/l,Non-detect,Non-detect,Non-detect,NaN,Non-detect,Non-detect,Non-detect,Non-detect,NaN,NaN,Non-detect
558,MN,Welch/510,04/13/2011,04/04/2011,Precipitation,pCi/l,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,9.1,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect

In [10]:
df[(df.State == "AK") & (df.Location == "Nome")]

,State,Location,Date Posted,Date Collected,Sample Type,Unit,Ba-140,Co-60,Cs-134,Cs-136,Cs-137,I-131,I-132,I-133,Te-129,Te-129m,Te-132
3,AK,Nome,03/30/2011,03/22/2011,Air Filter,pCi/m3,Non-detect,Non-detect,Non-detect,NaN,Non-detect,0.096,Non-detect,Non-detect,NaN,NaN,Non-detect
4,AK,Nome,03/30/2011,03/23/2011,Air Filter,pCi/m3,Non-detect,Non-detect,Non-detect,NaN,Non-detect,0.22,Non-detect,Non-detect,NaN,NaN,Non-detect
5,AK,Nome,03/30/2011,03/23/2011,Air Filter,pCi/m3,Non-detect,Non-detect,0.016,NaN,0.023,0.2,0.019,Non-detect,NaN,NaN,0.027
6,AK,Nome,04/04/2011,03/24/2011,Air Filter,pCi/m3,Non-detect,Non-detect,0.14,Non-detect,0.12,0.43,0.094,Non-detect,Non-detect,Non-detect,0.14
7,AK,Nome,04/04/2011,03/24/2011,Air Filter,pCi/m3,Non-detect,Non-detect,0.1,0.012,0.13,0.39,0.076,Non-detect,0.12,0.061,0.12
18,AK,Nome,03/30/2011,03/22/2011,Air Cartridge,pCi/m3,Non-detect,Non-detect,Non-detect,NaN,Non-detect,0.34,Non-detect,Non-detect,NaN,NaN,Non-detect
19,AK,Nome,03/30/2011,03/23/2011,Air Cartridge,pCi/m3,Non-detect,Non-detect,Non-detect,NaN,Non-detect,0.78,Non-detect,Non-detect,NaN,NaN,Non-detect
133,AK,Nome,03/30/2011,03/20/2011,Air Cartridge,pCi/m3,Non-detect,Non-detect,Non-detect,NaN,Non-detect,0.11,Non-detect,Non-detect,NaN,NaN,Non-detect
134,AK,Nome,03/30/2011,03/21/2011,Air Cartridge,pCi/m3,Non-detect,Non-detect,Non-detect,NaN,Non-detect,0.41,Non-detect,Non-detect,NaN,NaN,Non-detect
135,AK,Nome,04/04/2011,03/24/2011,Air Cartridge,pCi/m3,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,1.46,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect
136,AK,Nome,04/08/2011,03/25/2011,Air Cartridge,pCi/m3,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,0.26,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect
137,AK,Nome,04/08/2011,03/26/2011,Air Cartridge,pCi/m3,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,0.46,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect
138,AK,Nome,04/08/2011,03/27/2011,Air Cartridge,pCi/m3,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,0.36,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect
139,AK,Nome,04/10/2011,03/28/2011,Air Cartridge,pCi/m3,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,0.23,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect
140,AK,Nome,04/08/2011,03/29/2011,Air Cartridge,pCi/m3,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,0.36,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect
141,AK,Nome,04/08/2011,03/30/2011,Air Cartridge,pCi/m3,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,0.17,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect
142,AK,Nome,04/10/2011,03/31/2011,Air Cartridge,pCi/m3,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,0.061,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect
143,AK,Nome,04/10/2011,04/01/2011,Air Cartridge,pCi/m3,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,0.05,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect
144,AK,Nome,04/10/2011,04/02/2011,Air Cartridge,pCi/m3,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,0.056,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect
145,AK,Nome,04/10/2011,04/03/2011,Air Cartridge,pCi/m3,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,0.089,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect
146,AK,Nome,04/10/2011,04/04/2011,Air Cartridge,pCi/m3,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,0.086,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect
147,AK,Nome,04/10/2011,04/05/2011,Air Cartridge,pCi/m3,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,0.14,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect
149,AK,Nome,04/10/2011,04/05/2011,Air Cartridge,pCi/m3,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect
207,AK,Nome,03/30/2011,03/21/2011,Air Filter,pCi/m3,Non-detect,Non-detect,Non-detect,NaN,0.015,0.069,Non-detect,Non-detect,NaN,NaN,Non-detect
208,AK,Nome,03/30/2011,03/22/2011,Air Filter,pCi/m3,Non-detect,Non-detect,Non-detect,NaN,Non-detect,0.068,Non-detect,Non-detect,NaN,NaN,Non-detect

More than one condition can be applied at the same time:

In [9]:
df[(df.State == 'CA') & (df['Sample Type'] == 'Drinking Water')]

,State,Location,Date Posted,Date Collected,Sample Type,Unit,Ba-140,Co-60,Cs-134,Cs-136,Cs-137,I-131,I-132,I-133,Te-129,Te-129m,Te-132
305,CA,Los Angeles,04/10/2011,04/04/2011,Drinking Water,pCi/l,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,0.39,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect
306,CA,Los Angeles,06/01/2011,04/12/2011,Drinking Water,pCi/l,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,0.18,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect
356,CA,Richmond,04/09/2011,03/29/2011,Drinking Water,pCi/l,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect
357,CA,Richmond,06/01/2011,04/13/2011,Drinking Water,pCi/l,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect,Non-detect

Now select the MN state and the I-131 radionuclide:

In [11]:
df[(df.State == "MN") ]["I-131"]

367    Non-detect
368          0.16
380    Non-detect
381    Non-detect
555          32.3
556            16
557    Non-detect
558           9.1
Name: I-131, dtype: object

In [13]:
df.loc[df.State == "MN", "I-131"]

367    Non-detect
368          0.16
380    Non-detect
381    Non-detect
555          32.3
556            16
557    Non-detect
558           9.1
Name: I-131, dtype: object

Another common approach is the use of the method `.loc`:

```
df.loc[<row selection>, <column selection>]
```

In [14]:
df.loc[df.State == "MN", "I-131"]

367    Non-detect
368          0.16
380    Non-detect
381    Non-detect
555          32.3
556            16
557    Non-detect
558           9.1
Name: I-131, dtype: object

Note that, differently from the results above, the result of the loc filter is a Series and not a DataFrame. This depends on the operation and selection done on the DataFrame and not is caused only by loc: as the DataFrame can be understood as a 2D combination of Series, a selection of one column will return a Series.

In [15]:
df[['I-132']].head()

        I-132
0  Non-detect
1  Non-detect
2  Non-detect
3  Non-detect
4  Non-detect