## Exercise 6: Aggregation and Grouping Data

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
from google.colab import files
uploaded = files.upload()

ModuleNotFoundError: No module named 'google'

# Exercise 6: Aggregation and Grouping Data

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv('RadNet_Laboratory_Analysis.csv')
df.head()

,State,Location,Date Posted,Date Collected,Sample Type,Unit,Ba-140,Co-60,Cs-134,Cs-136,Cs-137,I-131,I-132,I-133,Te-129,Te-129m,Te-132,Ba-140.1
0,ID,Boise,03/30/2011,03/23/2011,Air Filter,pCi/m3,0.0,0.0,0,NaN,0,0,0,0.0,NaN,NaN,0,NaN
1,ID,Boise,03/30/2011,03/23/2011,Air Filter,pCi/m3,0.0,0.0,0,NaN,0,0,0,0.0,NaN,NaN,0,NaN
2,AK,Juneau,03/30/2011,03/23/2011,Air Filter,pCi/m3,0.0,0.0,0,NaN,0,0,0,0.0,NaN,NaN,0,NaN
3,AK,Nome,03/30/2011,03/22/2011,Air Filter,pCi/m3,0.0,0.0,0,NaN,0,0,0,0.0,NaN,NaN,0,NaN
4,AK,Nome,03/30/2011,03/23/2011,Air Filter,pCi/m3,0.0,0.0,0,NaN,0,0,0,0.0,NaN,NaN,0,NaN

In [6]:
df.groupby('State')

In [10]:
df.groupby('State')['Cs-134'].head()

0      0
1      0
2      0
3      0
4      0
      ..
551    1
552    0
555    0
574    0
575    0
Name: Cs-134, Length: 206, dtype: int64

In [11]:
df.groupby('State').mean().head()

TypeError: agg function failed [how->mean,dtype->object]

In [6]:
df.groupby(['State', 'Location']).agg({'Cs-134':['mean', 'std'], 'Te-129':['min', 'max']})

                   Cs-134      Te-129
                     mean  std    min  max
State Location
AK    Dutch Harbor    0.0  0.0    0.0  0.0
      Fairbanks       0.0  0.0    0.0  0.0
      Juneau          0.0  0.0    0.0  0.0
      Nome            0.0  0.0    0.0  0.0
AK    Juneau          0.0  NaN    0.0  0.0
...                   ...  ...    ...  ...
WA    Seattle         0.0  0.0    0.0  0.0
      Spokane         0.0  0.0    0.0  0.0
      Tacoma          0.0  0.0    0.0  0.0
WI    Madison         0.0  0.0    0.0  0.0
WV    Charleston      0.0  0.0    0.0  0.0

[147 rows x 4 columns]